:root {
  --line-clamp: 8;
}
.menu_element {
  @apply grid cursor-pointer  grid-cols-[30px_auto_35px] items-center rounded-lg p-2 transition-colors duration-500 hover:bg-background-tertiary;
}
.menu_element.active {
  @apply bg-background-tertiary;
}

.menu_element.active span {
  @apply font-bold;
}

.menu_element.active .count {
  @apply bg-background-primary;
}

.menu_tag_element {
  @apply rounded-md px-3 py-2 text-xs font-semibold;
}

aside::-webkit-scrollbar-track {
  @apply bg-background-secondary;
}

input[type='checkbox'] {
  @apply shrink-0 cursor-pointer appearance-none rounded-[4px] border border-[#dddddd] checked:border-0 checked:bg-text-tertiary focus:outline-none;
}

input[type='checkbox'].task {
  @apply h-5 w-5;
}

.color {
  @apply h-5 w-5 cursor-pointer rounded-[3px] border border-zinc-200 transition-all duration-300 hover:shadow-md;
}
.note_text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp);
}

.full_screen {
  @apply absolute  z-10 h-full max-h-full  w-full !important;
}

.sonner-toast:not([data-type='loading']) [data-icon] {
  height: calc(100% + 1px);
  position: absolute;
  left: 0;
  width: 45px;
  justify-content: center;
  color: white;
  border-radius: 8px 0 0 8px;
}
.sonner-toast:not([data-type='loading']) [data-icon] svg {
  width: 25px;
  height: 25px;
}
.sonner-toast[data-type='success'] [data-icon] {
  background-color: limegreen;
}
.sonner-toast[data-type='error'] [data-icon] {
  background-color: #ff0000;
}

.sonner-toast [data-content] {
  color: #444444;
}
.sonner-toast:not([data-type='loading']) [data-content] {
  margin-left: 40px;
}

.sonner-toast [data-close-button] {
  left: 90%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f4f4f4;
  color: #444444;
}
.sonner-toast [data-button] {
  background-color: #f4f4f4;
  color: #444444;
  font-weight: 500;
  box-shadow: -1px 1px 1px 0px #e5e5e5b0;
}

.pagination-button {
  @apply ml-0 flex  h-full border-collapse items-center justify-center border px-2 py-1.5 text-xs font-medium text-text-secondary shadow-sm transition-colors duration-300  hover:bg-background-tertiary disabled:cursor-not-allowed disabled:text-opacity-30 disabled:hover:bg-transparent sm:text-sm;
}

#menu:has(#closeMenu:hover) {
  @apply lg:opacity-50;
}
#taskInfo:has(#closeTaskInfo:hover) {
  @apply lg:opacity-50;
}

.tippy-box[data-theme~='light'] {
  @apply rounded-lg bg-background-primary p-0 text-sm text-text-primary shadow-md  !important;
}
.tippy-content {
  @apply p-0 !important;
}

.tippy-box[data-theme~='custom'] {
  @apply bg-text-secondary;
}
.tippy-box:is([data-theme~='bubbleMenu'], [data-theme~='custom']) {
  @apply p-2;
}

/* Tooltip arrow */
.tippy-box[data-theme~='custom'][data-placement^='top'] > .tippy-arrow::before {
  @apply border-t-text-secondary;
}
.tippy-box[data-theme~='custom'][data-placement^='bottom'] > .tippy-arrow::before {
  @apply border-b-text-secondary;
}
.tippy-box[data-theme~='custom'][data-placement^='left'] > .tippy-arrow::before {
  @apply border-l-text-secondary;
}
.tippy-box[data-theme~='custom'][data-placement^='right'] > .tippy-arrow::before {
  @apply border-r-text-secondary;
}

[vaul-overlay][vaul-drawer-visible='true'] {
  opacity: 1 !important;
}

.no_scrollbar::-webkit-scrollbar {
  display: none;
}

.icon-button {
  @apply flex h-8 w-8 items-center transition-all duration-300 justify-center rounded-[4px]  p-1;

  &:disabled {
    @apply cursor-not-allowed bg-[#f5f5f5] text-[#cacaca];
  }

  &.active {
    @apply bg-text-secondary  text-white;
  }

  &.not-active {
    @apply bg-background-secondary text-text-tertiary hover:bg-background-tertiary;
  }

  &.small {
    @apply h-6 w-6;
    & > i {
      @apply text-sm;
    }
  }
}
