.menu_element {
  @apply grid cursor-pointer grid-cols-[30px_auto_35px] items-center rounded-lg px-3 py-2 transition-colors duration-500 hover:bg-background-tertiary;
}
.menu_element.active {
  @apply bg-background-tertiary;
}

.menu_element.active span {
  @apply font-bold;
}

.menu_element.active div:last-child {
  @apply bg-background-primary;
}

.menu_tag_element {
  @apply rounded-md px-3 py-2 text-xs font-semibold;
}

aside::-webkit-scrollbar-track {
  @apply bg-background-secondary;
}

input[type='checkbox'] {
  @apply mt-1 shrink-0 cursor-pointer appearance-none rounded-[4px] border border-[#dddddd] checked:border-0 checked:bg-text-tertiary focus:outline-none;
}

input[type='checkbox'].task {
  @apply h-5 w-5;
}

input[type='checkbox'].subtask {
  @apply h-4 w-4;
}
.color {
  @apply h-4 w-4 cursor-pointer rounded-[3px] shadow-md;
}
.note_text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
}

