@import url(./libraries.css);
:root {
  --line-clamp: 8;
}

/* Menu */
.menu_element {
  @apply grid cursor-pointer  grid-cols-[30px_auto_35px] items-center rounded-lg p-2  hover:bg-background-tertiary;
  &.active {
    @apply bg-background-tertiary;
  }
  &.active span {
    @apply font-bold;
  }
  & .count {
    @apply grid place-content-center rounded-sm bg-background-tertiary py-[1px]  group-hover:bg-background-primary;
  }
  &:is(:hover, .active) .count {
    @apply bg-background-primary;
  }
}

.menu_tag_element {
  @apply rounded-md px-3 py-2 text-xs font-semibold;
}
#menu:has(#closeMenu:hover) {
  @apply lg:opacity-50;
}
#taskInfo:has(#closeTaskInfo:hover) {
  @apply lg:opacity-50;
}

/* Buttons */
.icon-button {
  @apply flex h-8 w-8 items-center justify-center rounded-[4px] p-1 disabled:cursor-not-allowed  disabled:bg-background-disabled
    disabled:text-text-disabled;

  &:not(:disabled).active {
    @apply bg-primary  text-white;
  }

  &:not(:disabled).not-active {
    @apply bg-background-secondary text-text-tertiary hover:bg-background-tertiary;
  }

  &.small {
    @apply h-7 w-7;
    & i,
    & svg {
      @apply text-sm;
    }
  }
}

.dropDown-button {
  @apply relative flex w-full  cursor-pointer items-center gap-3 overflow-hidden rounded-md bg-background-primary px-3 py-2 font-medium text-text-secondary  hover:bg-background-secondary hover:text-text-primary;

  &.small {
    @apply px-2 py-1 text-xs;
  }
  &.current {
    @apply bg-background-secondary;
  }
  &:not(.disabled).delete {
    @apply hover:bg-red-500 hover:text-white;
  }
  &.disabled {
    @apply cursor-not-allowed  bg-background-disabled text-text-disabled;
  }
}

.pagination-button {
  @apply ml-0 flex h-full w-20 border-collapse items-center justify-center border border-border px-2 py-1.5 text-xs font-medium text-text-secondary shadow-sm  hover:bg-background-tertiary sm:text-sm;

  &:disabled {
    @apply cursor-not-allowed bg-background-disabled text-text-disabled;
  }
}

input[type='checkbox'] {
  @apply shrink-0 cursor-pointer appearance-none rounded-[4px] border border-border checked:border-0 checked:bg-primary focus:outline-none;

  &.task {
    @apply h-5 w-5;
  }
}

.color {
  @apply h-5 w-5 cursor-pointer rounded-[3px] border border-border hover:shadow-md;
  &.circle {
    @apply rounded-full;
  }
}
.note_text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp);
}

.full_screen {
  @apply absolute  z-10 h-full max-h-full  w-full !important;
}
.setting {
  @apply grid grid-cols-[auto_144px] items-center gap-6 sm:gap-10 ;

  & h4 {
    @apply text-sm font-bold text-text-secondary;
  }
  & p {
    @apply mt-2 text-xs text-text-tertiary;
  }
  & > :last-child {
    @apply justify-self-end;
  }
}
