@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /** Light Mode */

  &,
  &[data-theme='light'] {
    --background-primary: #ffffff;
    --background-secondary: #f0f0f0;
    --background-tertiary: #e0e0e0;
    --background-disabled: #f5f5f5;
    --text-primary: #000000;
    --text-secondary: #333333;
    --text-tertiary: #666666;
    --text-disabled: #bbbbbb;
    --text-placeholder: #e1e1e0;
    --border: rgba(0, 0, 0, 0.1);

    /* Colors */
    --custom-1: #ff6b6b;
    --custom-2: #da77f2;
    --custom-3: #9775fa;
    --custom-4: #64c37e;
    --custom-5: #66d9e8;
    --custom-6: #8ce99a;
    --custom-7: #ffd43b;
    --custom-8: #ff922b;
    --custom-9: #605050;
    --custom-10: #d9a7f3;
  }

  /** Dark Mode */

  &[data-theme='dark'] {
    --background-primary: #0d0d0d;
    --background-secondary: #191919;
    --background-tertiary: #212121;
    --background-disabled: #141111;
    --text-primary: #fff;
    --text-secondary: #cacaca;
    --text-tertiary: #b3b3b3;
    --text-disabled: #444444;
    --text-placeholder: #373737;
    --border: rgba(255, 255, 255, 0.1);

    /* Colors */
    --custom-1: #b34a4a;
    --custom-2: #9c4bd1;
    --custom-3: #6c56c9;
    --custom-4: #468f67;
    --custom-5: #46a8b2;
    --custom-6: #6cb87a;
    --custom-7: #b2a434;
    --custom-8: #b26a24;
    --custom-9: #424242;
    --custom-10: #9c75c2;

    input {
      color-scheme: dark;
    }
  }

  /** Primary Color */

  &[data-theme-primary='indigo'],
  button.indigo {
    --primary: #6366f1;
    --primary-hover: #4f46e5;
  }

  &[data-theme-primary='green'],
  button.green {
    --primary: #008000;
    --primary-hover: #006600;
  }

  &[data-theme-primary='red'],
  button.red {
    --primary: #dc3545;
    --primary-hover: #c82333;
  }

  &[data-theme-primary='orange'],
  button.darkOrange {
    --primary: #995e00;
    --primary-hover: #7d4a00;
  }
  &[data-theme-primary='crimson'],
  button.crimson {
    --primary: #dc143c;
    --primary-hover: #b01030;
  }

  &[data-theme-primary='purple'],
  button.purple {
    --primary: #6f42c1;
    --primary-hover: #5c35b1;
  }

  &[data-theme-primary='teal'],
  button.teal {
    --primary: #008080;
    --primary-hover: #006666;
  }
  &[data-theme-primary='olive'],
  button.olive {
    --primary: #3d9970;
    --primary-hover: #358563;
  }

  &[data-theme-primary='maroon'],
  button.maroon {
    --primary: #85144b;
    --primary-hover: #701141;
  }

  &[data-theme-primary='navy'],
  button.navy {
    --primary: #000080;
    --primary-hover: #000066;
  }
}

* {
  @apply box-border;
}

html.color-transition {
  * {
    @apply transition-colors duration-200 !important;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
  }
}

body {
  font-family: 'Lexend Deca', sans-serif;
  @apply h-[100dvh] overflow-hidden bg-background-primary !important;
}
#root {
  @apply flex h-full bg-background-primary p-2;
}

/* Scrollbar */
::-webkit-scrollbar {
  @apply h-[2px] w-[3px];
}
::-webkit-scrollbar-thumb {
  @apply bg-text-tertiary;
}
::-webkit-scrollbar-track {
  @apply bg-border;
}

.no_scrollbar::-webkit-scrollbar {
  display: none;
}
