@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  font-family: 'Lexend Deca', sans-serif;
  height: 100vh;
  overflow: hidden;
}
#root {
  height: 100%;
}
::-webkit-scrollbar {
  width: 3px;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  @apply bg-text-tertiary;
}
::-webkit-scrollbar-track {
  @apply bg-background-primary;
}

.sonner-toast:not([data-type='loading']) [data-icon] {
  height: calc(100% + 1px);
  position: absolute;
  left: 0;
  width: 45px;
  justify-content: center;
  color: white;
  border-radius: 8px 0 0 8px;
}
.sonner-toast:not([data-type='loading']) [data-icon] svg {
  width: 25px;
  height: 25px;
}
.sonner-toast[data-type='success'] [data-icon] {
  background-color: limegreen;
}
.sonner-toast[data-type='error'] [data-icon] {
  background-color: #ff0000;
}

.sonner-toast [data-content] {
  color: #444444;
}
.sonner-toast:not([data-type='loading']) [data-content] {
  margin-left: 40px;
}

.sonner-toast [data-close-button] {
  left: 90%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f4f4f4;
  color: #444444;
}
.sonner-toast [data-button] {
  background-color: #f4f4f4;
  color: #444444;
  font-weight: 500;
  box-shadow: -1px 1px 1px 0px #e5e5e5b0;
}