:root {
  --text-secondary: #444444;
  --text-tertiary: #b46262;
  --background-primary: #fff;
  --background-secondary: #f4f4f4;
  --background-tertiary: #ebebeb;
  --highlight-color: #c8ff2d;
}
.tiptap {
  > * + * {
    margin-top: 0.75em;
  }

  [contenteditable='true'] {
    background-color: var(--background-primary);
  }

  div:has(> .ProseMirror) {
    margin: 0;
    overflow: auto;
    display: grid;
  }

  .tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
    font-weight: 100;
    font-size: medium;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: revert;
    margin: revert;
    font-weight: revert;
  }
  ul,
  ol {
    padding: 0 1rem;
    list-style: revert;
    margin: revert;
  }
  a {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  ul[data-type='taskList'] {
    list-style: none;
    padding: 0;
  }
  ul[data-type='taskList'] li {
    display: flex;
    align-items: center;
  }
  ul[data-type='taskList'] li > label {
    display: grid;
    place-items: center;
    margin-right: 0.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  ul[data-type='taskList'] li > label input {
    width: 1rem;
    height: 1rem;
    margin: 0;
    border: 1px solid var(--text-secondary);
    border-radius: 0.3rem;
    background: white;
    accent-color: var(--text-secondary);
    appearance: auto;
  }

  code {
    background-color: rgba(#616161, 0.1);
    border-radius: 0.25em;
    box-decoration-break: clone;
    color: #616161;
    font-size: 0.9rem;
    padding: 0.25em;
  }
  pre {
    background: #0d0d0d;
    border-radius: 0.5rem;
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    margin: revert;
    padding-left: 1rem;
    border-left: 2px solid #0d0d0d1a;
  }
  hr {
    border: none;
    border-top: 2px solid rgba(13, 13, 13, 0.1);
    margin: 2rem 0;
  }
  mark {
    background-color: var(--highlight-color);
    border-radius: 0.25em;
    box-decoration-break: clone;
    padding: 0.125em 0;
  }

  .colorHighlight {
    white-space: nowrap;

    &::before {
      background-color: var(--color);
      border: 1px solid rgba(128, 128, 128, 0.3);
      border-radius: 2px;
      content: ' ';
      display: inline-block;
      height: 1em;
      margin-bottom: 0.15em;
      margin-right: 0.1em;
      vertical-align: middle;
      width: 1em;
    }
  }
}



// Bubble menu and link tooltip
.tippy-box:is([data-theme~='bubbleMenu'], [data-theme~='addLink']) {
  background-color: white;
  color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
