@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  font-family: "Lexend Deca", sans-serif;
  height: 100vh;
}
#root {
  height: 100%;
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-thumb{
  @apply bg-text-tertiary rounded-lg
}
::-webkit-scrollbar-track {
  @apply bg-background-primary 
}